name: Ubuntu package build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository 
      uses: actions/checkout@v3
      with:
        path: dvbhdhomerun
        
    - name: Packages update
      run: |
        sudo apt-get update
        sudo apt install dpkg-dev build-essential debhelper cmake libhdhomerun-dev dkms

    - name: Build packages
      run: |
        cd $GITHUB_WORKSPACE/dvbhdhomerun
        dpkg-buildpackage -b
      
    - name: Upload the Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Packages
        path: ./*.deb
